<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a style="height: 24px; width: 82px; text-decoration: none; border: 1px solid black; background-color: red; border-radius: 10px; display: block; margin: auto;position: relative; top: 399px; left: -125px;opacity: 0;" href="/listings">Click Here</a>
    <img src="https://static.toiimg.com/photo/93176341.cms" style="height: 109vh;
    width: 49vw;
    display: block;
    margin: auto;
    margin-top: -36px;" alt="">
   
</body>
</html> -->